.multiple-item{
  background-color: blue;
  color: white;
  height: 40px;
  align-items: center;
  text-align: center;
}

.accordion {
  width: 500px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.accordion-item {
  border-bottom: 1px solid #ccc;
  background-color: blue;
  color: white;
}

.accordion-item:last-child {
  border-bottom: none;
}

.accordion-title {
  background-color: #f7f7f7;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: blue;
  color: white;
  border: 1px solid white;
}

.accordion-content {
  padding: 10px;
  display: none;
}

.accordion-content.show {
  display: block;
}

.expand-icon,
.collapse-icon {
  font-size: 14px;
}

.collapse-icon {
  display: none;
}